.ball {
    display: flex;
    width: 320px;
    height: 320px;
    background-image: url(../img/ball.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.ballCenter {
    align-self: center;
    background-image: url(../img/ball-hole.png);
    width: 170px;
    height: 170px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255,.7);
    font-family: cursive;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    justify-content: center;
}