.inlineFlex{
    display: flex;
    justify-content: space-evenly;
}
.border{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    min-height: 200px;
    max-height: 300px;
    overflow: overlay;
    overflow-y:visible;
}