.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.size{
    min-height: 40px;
    min-width: 40px;
}
.width{
    width: 294px;
}
.border{
    border: 1px solid #333;
}
.centried{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fade{
    background-color: grey;
}
.red{
    color: red
}
.buttonWidth{
    width: 50%;
}
.textAlign{
    text-align: center;
}